* {
  margin: 0;
  padding: 0;
  font-family: Cambria, sans-serif;
  box-sizing: border-box;
  color: #444;
  outline: var(--color-primary);
}

:root {
  --color-primary: #dec129;
  --color-text: #444;
  --color-background: #fff;
  --color-light: #efefef;

  --color-red: #DC3545;
}

a {
  text-decoration: none;
  color: #444;
  transition: .4s;
}

a:hover {
  color: var(--color-primary);
}

// Form
form {
  width: 450px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  label {
    font-weight: bold;
    font-size: .9em;
    margin-bottom: .4em;
  }

  input,
  textarea {
    padding: .6em;
    color: #777;
    font-size: .8em;

    border: 2px solid var(--color-light);
    border-radius: 1em;
  }
}

input[type="submit"] {
  background: var(--color-light);
  border: 2px solid transparent;
  padding: .6em 1em;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: .4s;
  border-radius: 1em;


  &:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
    background-color: transparent;
  }
}

.validation-error {
  p {
    color: var(--color-red);
    margin-top: .4em;
    border-left: 3px solid var(--color-red);
    padding-left: .2em;
  }
}


// buttons
.edit-btn,
.remove-btn {
  border: 1px solid #efefef;
  padding: .4em 1em;
  font-size: 1em;
  margin: 0 .5em;
  cursor: pointer;
  background: #fff;
}

button fa-icon,
a fa-icon {
  margin-right: .2em;
}

.edit-btn,
.edit-btn path {
  border-color: #007bff;
  color: #007bff;
}

.edit-btn {

  &:hover,
  &:hover path {
    color: #fff;
    background: #007bff;
  }
}


.remove-btn,
.remove-btn path {
  border-color: #DC3545;
  color: #DC3545;
}

.remove-btn {

  &:hover,
  &:hover path {
    color: #fff;
    background: #DC3545;
  }
}